@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
  }
}

html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes blink-cursor {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink-cursor {
  animation: blink-cursor 1s infinite;
}

.ant-menu-item a,
.ant-menu-submenu-title {
  color: rgba(0, 0, 0, 0.85);
}

.dark .ant-menu-item-selected,
.dark .ant-menu-item:active,
.dark .ant-menu-submenu-active > .ant-menu-submenu-title {
  background-color: #1e3a8a !important;
}

.dark .ant-menu-item-selected a,
.dark .ant-menu-item-selected span,
.dark .ant-menu-submenu-selected > .ant-menu-submenu-title,
.dark .ant-menu-submenu:hover > .ant-menu-submenu-title,
.dark .ant-menu-submenu-open > .ant-menu-submenu-title {
  color: white !important;
}

.dark .ant-menu-item:hover,
.dark .ant-menu-item:hover a {
  color: #1890ff !important;
}

.dark .ant-menu-item a,
.dark .ant-menu-submenu-title {
  color: rgba(255, 255, 255, 0.85);
}

.dark .ant-menu-item-selected a,
.dark .ant-menu-item:hover a,
.dark .ant-menu-submenu-selected > .ant-menu-submenu-title,
.dark .ant-menu-submenu:hover > .ant-menu-submenu-title,
.dark .ant-menu-submenu-open > .ant-menu-submenu-title {
  color: #1890ff !important;
}
